# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv/
venv/
/ml/CLAUDE.md
/ml/data/raw
/ml_2
/ml/checkpoints


# Node
node_modules/
.next/
out/
.dist/
*.log

# OS
.DS_Store
Thumbs.db

# Docker
**/docker-compose.override.yml

# IDE
.vscode/
.idea/

# Data
*.sqlite
*.db
audio_uploads/

/ml/raw/
/ml/checkpoints/
/ml_new/checkpoints/
/ml_new/data/extracted_pyin/
frontend/tsconfig.tsbuildinfo